@font-face {
	font-family: 'Aston';
	src: url('./Aston\ Script\ Pro\ Bold.ttf'), url('./Aston\ Script\ Pro\ Bold.otf') format('opentype');
}

.aston {
	font-family: 'Aston';
	font-size: 13pt !important;
	line-height: 30pt;
}
