@font-face {
	font-family: 'BeautyQueen';
	src: url('./Beauty\ Queen.ttf'), url('./Beauty\ Queen.otf') format('opentype');
}

.beautyqueen {
	font-family: 'BeautyQueen';
	font-size: 20pt !important;
	line-height: 30pt;
}
