@font-face {
	font-family: 'BeautyQueen';
	src: url('./Beauty\ Queen.ttf'), url('./Beauty\ Queen.otf') format('opentype');
}

.beautyqueen {
	font-family: 'BeautyQueen';
	font-size: 2.5em !important;
}
