@font-face {
	font-family: 'Chopin';
	src: url('./ChopinScript.otf') format('opentype');
}

.chopin {
	font-family: 'Chopin';
	font-size: 20pt !important;
	line-height: 30pt;
}

#piega.chopin .iniziali .lettera#M {
	right: 225px;
	bottom: 79px;
}
