@font-face {
	font-family: 'Hermaiona';
	src: url('./Hermaiona-K7dxA.otf') format('opentype');
}

.hermaiona {
	font-family: 'Hermaiona';
	font-size: 24pt !important;
	line-height: 29pt;
	letter-spacing: 1pt;
}
