@font-face {
	font-family: 'Nagisha';
	src: url('./Nagisha.ttf');
}

.nagisha {
	font-family: 'Nagisha';
	font-size: 32pt !important;
	line-height: 30pt;
	word-spacing: 12pt;
}

#piega.nagisha .iniziali .lettera#M {
	right: 220px;
	bottom: 93px;
}
